*{ margin: 0 auto;}
 #container
 {

    
    width: 1024px;
    height: 1024px;
    background-color: burlywood;

}
.header
{
    width: 1024px;
    height: 150px;
    background-color: coral;
}
.logo
{
    width: 100px;
    height: 100px;
    background-color: black;
    float: left;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 30px;
}